<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(AdminLayout)">
            <p role="alert">¿A dónde cree que se dirige caballere?</p>
            <img src="./img/elegancia.jpg" width="200" />
        </LayoutView>
    </NotFound>
</Router>
